@media screen and (min-width: 480px) {
  /*Two column layout*/

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }

  /* page portfolio*/
  /* 3 * 5 = 15% ; 100% - 15% = 85%; 85% / 3 = 28.3333333333*/
  #myProject li {
    width: 28.3333%;
  }

  #myProject li:nth-child(4n) {
    clear: both;
  }

  /* Page About*/
  .profile-img {
    float: left;
    margin: 0 5% 80px 0;
  }
}

@media screen and (min-width: 660px) {
  /*Header*/
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  #myTitle {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size:0.825em;
    margin-bottom: 20px;
  }
  header {
    border-bottom: 5px solid #1874cd;
    margin-bottom: 40px;
  }

}